<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>892993406443-p8egqh4onfdacujlj55q3sl7lo45e7uc.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.892993406443-p8egqh4onfdacujlj55q3sl7lo45e7uc</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>892993406443-8a93k68m6c0m3t3o7rtktndpgj0e2ikr.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyB4GGa4ASt8SFejpoYYouCqIhllVLJ7y04</string>
		<key>GCM_SENDER_ID</key>
		<string>892993406443</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>vn.star.star</string>
		<key>PROJECT_ID</key>
		<string>star</string>
		<key>STORAGE_BUCKET</key>
		<string>star.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<true></true>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:892993406443:ios:a57f73130ed5f2e96e45ae</string>
	</dict>
</plist>